{% extends 'base.html' %}

{% block content %}
<h1>Filler header Homepage</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime vero, suscipit veniam eligendi consequuntur reprehenderit, culpa dolores corporis, error atque praesentium omnis maiores modi velit eveniet numquam cum. Quaerat illum quis doloribus eos unde, quas odio ut. Tenetur, porro. Iure sint libero delectus tempore excepturi illum doloremque deserunt! Vero.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime vero, suscipit veniam eligendi consequuntur reprehenderit, culpa dolores corporis, error atque praesentium omnis maiores modi velit eveniet numquam cum. Quaerat illum quis doloribus eos unde, quas odio ut. Tenetur, porro. Iure sint libero delectus tempore excepturi illum doloremque deserunt! Vero.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime vero, suscipit veniam eligendi consequuntur reprehenderit, culpa dolores corporis, error atque praesentium omnis maiores modi velit eveniet numquam cum. Quaerat illum quis doloribus eos unde, quas odio ut. Tenetur, porro. Iure sint libero delectus tempore excepturi illum doloremque deserunt! Vero.</p>
{% endblock %}